[Database]
server=localhost,1433
database=PPID_DB
login=sa
password=
Elapsed_days_check=5

[Import]
separator=,
skipline=1

[Report]
rebootflag=0
SendOldPPID=0
SendCBR=0

[PN]
DELL=JN38V
WYSE=3RG26
OTHER=XXXXX

[Options]
ppidppid_filePath=C:\OA30\PPID\ppidppid.txt
auto_reuse_ppid=1
InUse_days_check=10
Corrupted_PPID_attempts=3
Process_AutoPilot=3

Ignore_Phoenix_Tool_Error=1
Ignore_Ami_Tool_Error=
Ignore_Dell_Tool_Error=
Ignore_Insyde_Tool_Error=
Ignore_Inventec_Tool_Error=
Ignore_Qualcomm_Tool_Error=29

